{% extends "base.html" %}

{% block title %}<title> AvidaLab: Contact Us </title>{% endblock title %}

{% block content %}
		<div class="main">
			<!--- Main Information --->
			<h1>Contact Information</h1>
		</div>
		<div class='main-text'>
			<p>Dr. Laura Grabowski: grabowlm@potsdam.edu</p>
			<p>Jeremy Florence: florenjr196@potsdam.edu</p>
			<p>Steven Gibson: gibsonsp200@potsdam.edu</p>
			<p>Alexandra Miranda: mirandae197@potsdam.edu</p>
			<p>Kyle Orto: ortoka197@potsdam.edu</p>
			<p>Christopher Welch: welchct198@potsdam.edu</p>
			<hr>
			<p>This site was created for us to implement the standards of 
			   using agile with a scrum based system as a learning experience.
			   The course was designed by Dr. Laura Grobowski at SUNY Potsdam
			   in Potsdam, New York.  Our goal is to make a fully functional
			   interpretation of the files associated with the Avida system.
			   This will be done by using a graphical implementation of the
			   data given.</p>
			<div>
				<!--- WANT TO ADD README.TEXT HERE --->
			</div>
			
		<div/>

{% endblock content %}